@import '../util/bem-mixins';

@include b(dialog) {
	border-radius: 5px;
	padding: 10px 10px 5px;

	@include e(header) {
		font-size: 16px;
		text-align: center;

		@include e(title) {
			font-size: 16px;
			text-align: center;
			font-weight: bold;
		}
	}

	@include e(body) {
		font-size: 16px;
		text-align: center;
	}

	@include e(footer) {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 33px;
	}

	@include m(small) {
		width: 250px;
	}

	@include m(middle) {
		width: 275px;
	}

	@include m(large) {
		width: 325px;
	}

	@include m(larger) {
		width: 375px;
	}
}
