@import '../util/bem-mixins';
@import '../util/var';

@include b(list) {
	padding-top: 8px;
	padding-left: 11px;
	padding-right: 11px;

	@include m(shadow) {
		@include e-not-root(content) {
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: 0 0 10px #ccc;
			padding: 4px 10px 0 4px;
			margin-bottom: 13px;
		}
	}
	
	@include m(label-large){
		.xui-list-item__label {
			width: 120px;
		}
	}
	
	@include e(footer){
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}

@include b(list-item) {
	font-size: $xui-common-font-size;
	display: flex;
	align-items: center;
	padding: 3px 0;
	line-height: 18px;

	@include e(label) {
		width: 85px;
		justify-content: flex-end;
		text-align: end;
	}

	@include m(interval-large) {
		padding: 6px 0;
		line-height: 22px;
	}

	@include e(content) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1;
		word-break: break-all;
		text-align: left;
		
		&.is-photo-content{
			justify-content: flex-start;
		}
	}
}
