//告警的颜色
$xui-error-color: #f56c6c;

$xui-common-font-size: 12px;

//按钮字体大小
$xui-button-font-size: 12px;

//默认字体颜色
$xui-default-color: #606266;

//primary颜色
$xui-primary-color: #409eff;
//#ifdef H5 css支持ifdef编译
//#endif

$border-color: #e4e7ed;

$success: #67c23a;