@import "~@/_public/styles/variable.scss";

@mixin focus-a() {
  a{
    color: $default-font-color;
    &:hover{
      color: red;
    }
  }
}

@mixin ellipsis-text(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}