//告警的颜色
$xui-error-color: #f56c6c;

$xui-common-font-size: 12px;

//按钮字体大小
$xui-button-font-size: 15px;

$xui-default-color: #000;

//primary颜色
$xui-primary-color: #409eff;

//通用的border颜色
$xui-border-color: #dfe6ec;

//#ifdef H5 css支持ifdef编译
//#endif


$xui-success-color: #19be6b;

$xui-fail-color: #fa3534;


